# Dependencies
/node_modules
/vendor

# Build Assets (Tambahkan bagian ini)
/public/build
/public/hot

# Log files
*.log
npm-debug.log*

# Operating System files
.DS_Store
Thumbs.db

# Other ignored files (optional)
.env